{% extends "layout.html" %}
{% block title %}
    Foodplanner
{% endblock %}

{% block body %}
    <h1>Hoeveel recepten wil je zien?</h1>
    <form action="{{ url_for('views.index') }}" method="POST">

        <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="Typ een nummer van 1 tot 5" autofocus name="amountToGenerate">
            <input type="submit" class="btn btn-outline-secondary" value="Work the magic!">
        </div>

    </form>
    <p>Alle recepten worden random gekozen uit de volledige database.</p>
{% endblock %}